p{
    height: 250px;
    width: 250px;
    border: red;
    overflow: auto;
}
.one{
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: -1;
}
.two{
height: 50px;
width: 50px;
background-color: yellow;
position: absolute;
}